.principal-data {
    font-family: 'Century Gothic', 'late', sans-serif;
    justify-content: center;
    position: relative;
    display: flex;
    align-content: center;
}

.count-collected {
    z-index: 999;
    display: flex;
    position: relative;
    align-content: center;
    padding: 30px;
    margin-right: 0;
    box-shadow: .1rem .1rem 0.2rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.alinetext {
    text-align: center;
}

.count-collected span {
    padding-left: 20px;
    font-size: 2.5rem;
    font-weight: 500;
}

.count-collected p {
    font-size: 0.8rem;
    padding: 10px 25px 10px 25px;
}

.img-trash img {
    position: relative;
    width: .3rem !important;
    height: .3rem !important;
}

.card-course-container {
    margin-bottom: 5px;
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    list-style: none;
    margin: none !important;
    border: none;
    width: 30rem;
    height: 32rem !important;
    background-color: #fff;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    box-shadow: .1rem .1rem 0.2rem rgba(0, 0, 0, 0.5);
    text-align: left;
}

.title-container-description {
    text-align: center;
}

.card p {
    padding: 40px;
    list-style: none;
    font-size: 9pt;
    text-align: center;
}

.card a {
    list-style: none;
    color: #202020;
}

.card a:hover {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 204, 255, .8) !important;
}

.card h5 {
    text-align: left;
    font-size: 10pt;
}

.card .card-img {
    width: 100%;
    height: 12.5rem;
    -webkit-clip-path: polygon(0, 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0, 0, 100% 0, 100% 100%, 0% 100%);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width .5s, height .5s, -moz-transform .5s;
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
    -o-transition: width .5s, height .5s, -o-transform .5s;
}

.card:hover {
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
}

a .perfil-img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -2rem;
    margin-left: -6.5rem;
    z-index: 999;
    border: 1px solid #ebeef8;
}

¨ .prototype-img {
    width: 0.6rem;
    height: 0.6rem;
}

#social-media {
    text-align: center;
    align-content: center;
    align-items: center;
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

ul {
    list-style: none;
    margin: 0;
}

ul li {
    margin-left: 0 !important;
}

ul li a {
    padding: 5px !important;
    margin: 0 20px!important;
}

.social-media i {
    margin-left: 0;
    font-size: 1rem;
    color: rgb(0, 204, 255, .8);
}

@media screen and (min-width: 700px) {
    .card-course-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .card {
        margin: 0.8rem;
    }
}